<div id="footerG" class="col-sm-12 col-md-12 col-lg-12">
    <div id="footerLegal" class="w-100 d-flex col-sm-12 col-md-12 col-lg-9 mx-auto">  
        <div class="container-fluid">
            <div class="row">
         
                <div id="footerLegal_nav" class="text-left col-md-10 col-sm-9">
                    <div id="footerLegal_nav_menu">
                        <ul class="mr-auto d-flex flex-wrap ">
                        <li class="menu-item menu-item-line">
                        <a class="nav-link text-dark active" href="#">HOME</a>
                        </li>
                        <li class="menu-item menu-item-line">
                        <a class="nav-link text-dark" href="#">BLOG</a>
                        </li>
                        <li class="menu-item menu-item-line">
                        <a class="nav-link text-dark" href="#">AGENTS</a>
                        </li>
                        <li class="menu-item menu-item-line">
                        <a class="nav-link text-dark" href="#">OUR LISTINGS</a>
                        </li>
                        <li class="menu-item menu-item-line">
                        <a class="nav-link text-dark" href="#">BUY</a>
                        </li>
                        <li class="menu-item menu-item-line">
                        <a class="nav-link text-dark" href="#">SELL</a>
                        </li>
                        <li class="menu-item menu-item-line">
                        <a class="nav-link text-dark" href="#">FINANCE</a>
                        </li>
                        <li class="menu-item menu-item-line">
                        <a class="nav-link text-dark" href="#">NEIGHBORHOODS</a>
                        </li>
                        <li class="menu-item">
                        <a class="nav-link text-dark" href="#">CONTACT</a>
                        </li>  
                        </ul>
                    </div>
                    <div id="footerLegal_nav_data">
                        <h6 class="text-uppercase small text-dark">2020 Lorem ipsum</h6>
                    </div>
                </div>
                <div id="footerLegal_logos" class="col-md-2 col-sm-3">
                    <img class="" src="../assets/images/im_logo_b.png" alt="Weichert">
                </div>
            </div> 
        </div>
    </div>
</div>