#bodyBtn .column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  display: inline-flex;
}
.btn{
  padding: 0.5rem  !important;
}
.btn-default{
  background-color: #fff !important;
  border: 1px solid black !important;
  border-radius: 0;
  color:#000;
  text-align: left !important;
  width: 190px !important;
}
.btn-default:hover{
  background-color: rgba(240,223,9, 0.5) !important;
  border: 1px solid rgb(240,223,9) !important;
  color: #000 !important;
}
.btn-default:hover .btn_title{
  background-color:rgba(240,223,9, 0) !important;
}
#bodyBtn .btn-default .btn_title{
  background-color: #fff;
  display: inline !important;
  left: -5px !important;
  line-height: 0.8rem !important;
  padding: 0 0.2rem !important;
  position: relative !important;
  text-align: left !important;
  top: -20px !important; 
}
#bodyBtn .btn-default .btn_texto{
  line-height: 0.5rem !important;
  padding: 0 0 0.5rem !important;
  top: -5px !important;
  position: relative !important;
}
.btn-default .small{
  font-size: 88% !important;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #bodyBtn .column {
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
  #bodyBtn .column {
    /* display: block; */
    flex: 100%;
    max-width: 100%;
  }
  .btn-default .small{
    font-size: 90%;
  }
}
@media screen and (max-width: 600px) {
  #bodyBtn .column {
    display: block;
  }
  #bodyBtn .btn{
    margin: 2% 0;
    width: 100% !important;
  }
  .btn-default .small{
    font-size: 100% !important;
  }
}