<div class="container-fluid text-center">
  <div class="row">

    <div id="page-nav" class="col-sm-12 col-md-12 col-lg-9 fixed-top">
      <div id="page-nav-cont" class="col-sm-12 col-md-12 col-lg-9">
        <div id="page-nav-logo" class="text-left">
          <img src="../assets/images/im_logo.jpg" alt="Weichert Realtors" class="img-responsive" width="140" height="150" >
        </div>
        <div id="page-nav-data" class="text-right">
          <h3><span class="material-icons">phone_enabled</span>936.760.7800</h3>
        </div>
        
        <nav class="navbar navbar-expand-lg navbar-dark navbar-right">
            <!-- <a class="navbar-brand" href="#"><img src="../images/im_alpha.png" alt="Weichert Realtors" width="10" height="10" class="d-inline-block align-top"></a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-3" aria-controls="navbarSupportedContent-3" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-3">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">AGENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">OUR LISTINGS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">BUY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SELL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FINANCE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">NEIGHBORHOODS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT</a>
                    </li>  
                </ul>
            </div>
        </nav>
      </div>
    </div>
  </div>
</div>