<div class="container-fluid text-center">
  <div class="row">
    <div id="gallery" class="col-sm-12 col-md-12 col-lg-9 mx-auto">
      <div id="galleryCont" class="pt-5 pb-5">
        <div id="galleryCont_header" class="">
          <h5 class="mx-auto text-uppercase font-weight-bold mb_2">featured neighborhoods</h5>
        </div>
        <div id="galleryCont_line" class="">
          <span class="mx-auto text-center d-block mt-3">&nbsp;</span>
        </div>
        <div id="" class="">
          <div class="column m-2">
            <div class="mb-4 container">
              <img class="imgGallery w-100" src="../assets/images/im_gal_1.jpg" alt="The Woodlands">
              <div class="content h-50 w-100">
                <p class="mx-auto text-uppercase">the woodlands</p>
              </div>
            </div>
            <div class="mb-4 container">
              <img class="imgGallery w-100" src="../assets/images/im_gal_1.jpg" alt="The Woodlands">
              <div class="content h-50 w-100">
                <p class="mx-auto text-uppercase">spring</p>
              </div>
            </div>
          </div>
          <div class="column columnB m-2">
            <div class="mb-4 container">
              <img class="imgGallery w-100" src="../assets/images/im_gal_1.jpg" alt="The Woodlands">
              <div class="content h-50 w-100">
                <p class="mx-auto text-uppercase">magnolia</p>
              </div>
            </div>
            <div class="mb-4 container">
              <img class="imgGallery w-100" src="../assets/images/im_gal_1.jpg" alt="The Woodlands">
              <div class="content h-50 w-100">
                <p class="mx-auto text-uppercase">montgomery</p>
              </div>
            </div>
          </div>
          <div class="column m-2">
            <div class="mb-4 container">
              <img class="imgGallery w-100" src="../assets/images/im_gal_1.jpg" alt="The Woodlands">
              <div class="content h-50 w-100">
                <p class="mx-auto text-uppercase">lake conroe</p>
              </div>
            </div>
            <div class="mb-4 container">
              <img class="imgGallery w-100" src="../assets/images/im_gal_1.jpg" alt="The Woodlands">
              <div class="content h-50 w-100">
                <p class="mx-auto text-uppercase">kingwood</p>
              </div>
            </div>
          </div>
          <div class="column columnB m-2">
            <div class="mb-4 container">
              <img class="imgGallery w-100" src="../assets/images/im_gal_1.jpg" alt="The Woodlands">
              <div class="content h-50 w-100">
                <p class="mx-auto text-uppercase">willis</p>
              </div>
            </div>
            <div class="mb-4 container">
              <img class="imgGallery w-100" src="../assets/images/im_gal_1.jpg" alt="The Woodlands">
              <div class="content h-50 w-100">
                <p class="mx-auto text-uppercase">conroe</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>