<div id="footerI" class="w-100">
    <div id="footerIn" class="w-100 col-sm-12 col-md-12 col-lg-9 mx-auto">
        <div class="container-fluid">
            <div class="row">       
                
                    <div class="col-md">
                        <div id="footerInfo_data" class="text-left">
                            <div id="footerInfo_data_title">
                                <h5 class="text-uppercase font-weight-bold">latest blog posts</h5>
                            </div>
                            <div class="footerInfo_data_link">
                                <a class="text-capitalize font-weight-bold">Sed ut perspiciatis unde omnis iste natus </a>
                                <h6 class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                            </div>
                            <div class="footerInfo_data_link">
                                <a class="text-capitalize font-weight-bold">Sed ut perspiciatis unde omnis iste natus </a>
                                <h6 class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                            </div>
                            <div class="footerInfo_data_link">
                                <a class="text-capitalize font-weight-bold">Sed ut perspiciatis unde omnis iste natus </a>
                                <h6 class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6>
                            </div>
                            <div id="footerInfo_data_link_more">
                                <a href="#" class="small text-left">More info<span class="material-icons">play_arrow</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div id="footerInfo_card" class="">
                            <div id="footerInfo_card_cont" class="text-left mx-auto">
                                <div id="footerInfo_card_cont_title" class="cl-lg-9">
                                    <h3>weichert .realtors</h3>
                                    <h6>Nemo enim ipsam voluptatem quia voluptas</h6>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div id="footerInfo_card_cont_data" class="d-flex">
                                            <div id="" class="col-sm-4 fi_info">
                                                <h6 class="small">Phone</h6>
                                                <h4 class="">(281)809-0089</h4>
                                            </div>
                                            <div id="" class="col-sm-8 fi_info">
                                                <h6 class="small">Address</h6>
                                                <h4 class="">3875 West Davis St. Suite 510 Conroe, TX 77304</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="footerInfo_card_logo" class="">
                                <img class="imgGallery w-25" src="../assets/images/im_logo_w.png" alt="Weichert">
                            </div>
                        </div>
                    </div>   
            </div>
        </div>
    </div>
</div>