 <div id="searchBar" class="mx-auto">
    <div class="container-fluid mt-3">
        
        <div id="searchBar_cont" class="bg-black text-white">  
            <div id="search_title" class="p-3">
                <h6>PROPERTY SEARCH</h6>
            </div>
            <div id="search_form" class="d-inline-flex p-2 text-white">
                <form class="form-inline">
                    <select class="mdb-select validate md-form" searchable="Search here..">
                        <option value="" disabled selected>Property Type</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="mdb-select validate md-form" searchable="Search here..">
                        <option value="" disabled selected>City</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <div class="form-group">
                    <input id="form_state" type="textarea" class="form-control" placeholder="State">
                    </div>
                    <div class="form-group">
                    <input id="form_size" type="textarea" class="form-control" placeholder="Size">
                    </div>
                    <div class="form-group">
                    <input id="form_minPrice" type="textarea" class="form-control" placeholder="Min. Price">
                    </div>
                    <div class="form-group">
                    <input id="form_maxPrice" type="textarea" class="form-control"  placeholder="Max. Price">
                    </div>
                    <div class="form-group">
                    <input id="form_taxes" type="textarea" class="form-control"  placeholder="Taxes">
                    </div>            
                    <button type="button" class="btn btn-primary btn-xs active btnGo">SEARCH</button>
                    <button type="button" class="btn btn-primary btn-xs">ADVANCED</button>
                </form>
            </div>
        </div>
    </div>
</div>